# quart
quart >= 0.14.1
Quart-Discord >= 2.1.4

# mongodb
pymongo[tls,srv] >= 3.11.2

# python tools
pytest >= 6.2.2
cachetools >= 4.2.1
Async-OAuthlib >= 0.0.9
python-dotenv >= 0.15.0

# discord API v8 (for replies)
hikari >= 2.0.0dev100
hikari-lightbulb >= 0.0.58