main {
  top: 50%;
  position: relative;
  font-family: 'Comfortaa', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  padding: 20px;
}

section.login-box {
  text-align: center;
  background: #fff;
  margin: auto;
}

div.header {
    background: #68D8D6;
    padding: 5px;
}

h1 {
    font-size: 6vw;
    padding: 10px;
}

h2 {
  font-size: 4vw;
}

a{
  font-size: 2vw;
  color: white;
  text-decoration: none;
  padding: 15px;
  margin: auto;
  white-space: nowrap;
}

a:link {
  background-color: #07BEB8;
}

a:hover {
  background-color: #C4FFF9;
}

a:active {
  background-color: #9CEAEF;
}
