<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>whistlebot mission control</title>
</head>
    <body>
        <header>
            <h1>welcome to whistlebot, {{user.name}}!</h1>
                <nav>
                    {% for k, v in nav.items() %}
                    <a href={{k}}>{{v}}</a>
                    {% endfor %}
                </nav>
                <section>
                    <h2><b>main server:</b> {{main_server[1]}}</h2>
                    <h2><b>servers</b></h2>
                    {% for server in servers %}
                        <a href={{'main/' + server[0]|string}}>{{server[1]}}</a>
                    {% endfor %}
                </section>
        </header>
        <main>
                <section>
                    <h2><b>today's reports</b></h2>
                    {% if reports is not string %}
                        {% for report in reports%}
                            {% if report['action_taken'] == False %}
                            <article>
                                <h2>report #{{report['report_id']}}</h2>
                                <h3>reported by {{report['reporter_name']}} on {{report['report_time']}}</h3>
                                <h4>user {{report['reported_name']}} wrote:</h4>
                                <p>"{{report['reported_message']}}"</p>
                                <h5><b>on {{report['reported_timestamp']}}</b></h5>
                                <div>
                                    <h3>actions</h3>
                                    <a href={{'/ban/'+report['ban_kick']}}>ban</a>
                                    <a href={{'/kick/'+report['ban_kick']}}>kick</a>
                                    <a href={{'/ignore/'+report['report_id']|string}}>ignore</a>
                                </div>
                             </article>
                            {% endif %}
                        {% endfor %}
                        {% if active == 0 %}
                    <p>all active reports viewed! please see <b>/reports</b> for report history.</p>
                        {% endif %}
                    {% else %}
                    <p>{{reports}}</p>
                    {% endif %}
                </section>
                <section>
                    <h2><b>members</b></h2>
                    {% if members is not string %}
                        {% for member in members%}
                            <article>
                                <h2><b><span>{{member['username']}}</span></b> id #{{member['discord_id']}}</h2>
                                <h3><b>current nickname</b>: {{member['current_nickname']}}</h3>
                                <h4><b>joined:</b> {{member['joined_on']}}</h4>
                                <h4><b>status:</b> {{member['status']}}</h4>
                                <h4><b>reports sent:</b> {{member['reports_sent']}} ({{member['report_stats'][0]}} with action taken) </h4>
                                <h4><b>reports received:</b> {{member['reports_received']}} ({{member['report_stats'][1]}} with action taken)</h4>
                                <h5><b>nickname history:</b> {{member['nickname_history']}}</h5>
                                <h5><b>notes:</b> {{member['notes']}}</h5>
                                <div>
                                    <h3>actions</h3>
                                    <a href={{'/ban/'+member['ban_kick']}}>ban</a>
                                    <a href={{'/kick/'+member['ban_kick']}}>kick</a>
                                    <a href={{'/toggle/'+member['discord_id']|string}}> {{member['user_agrmt_toggle']}} <b>!flag</b> permissions</a>
                                </div>
                             </article>
                        {% endfor %}
                    {% else %}
                    <p>{{members}}</p>
                    {% endif %}
                </section>

        </main>
</body>
</html>