<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>whistlebot mission control</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap" rel="stylesheet">

</head>
    <body>
        <header>
            <h1>welcome to whistlebot, {{user.name}}!</h1>
                <nav>
                    {% for k, v in nav.items() %}
                    <a href={{k}}>{{v}}</a>
                    {% endfor %}
                </nav>
        </header>
        <section class = "server-nav">
            <h2><span>current server:</span> {{main_server[1]}}</h2>
            {% for server in servers %}
                <a class='servers' href={{'main/' + server[0]|string}}>{{server[1]}}</a>
            {% endfor %}
        </section>
        <main>
                <section class= 'report'>
                    <h2><b>today's reports</b></h2>
                    <div class= 'items'>
                    {% if reports is not string %}
                        {% for report in reports%}
                            {% if report['action_taken'] == False %}
                            <article class = 'report'>
                                <h2>#{{report['report_id']}}</h2>
                                <h3><span class="report-field">reported by</span> {{report['reporter_name']}} <span class="report-field">on</span> {{report['report_time']}}</h3>
                                <h4><span class="report-field">user</span> {{report['reported_name']}} <span class="report-field">wrote</span></h4>
                                <p class="message">"{{report['reported_message']}}"</p>
                                <h5><span class="report-field">on</span> {{report['reported_timestamp']}}</h5>
                                <div class = 'actions'>
                                    <h3><span class="report-field">actions</span></h3>
                                    <a class= 'alert' href={{'/ban/'+report['ban_kick']}}>ban</a>
                                    <a href={{'/kick/'+report['ban_kick']}}>kick</a>
                                    <a href={{'/ignore/'+report['report_id']|string}}>ignore</a>
                                </div>
                            </article>
                            {% endif %}
                        {% endfor %}
                        {% if active == 0 %}
                    <p>all active reports viewed! please see <b>/reports</b> for report history.</p>
                        {% endif %}
                    {% else %}
                    <p>{{reports}}</p>
                    {% endif %}
                    </div>
                </section>
                <section class = 'member'>
                    <h2><b>members</b></h2>
                    <div class= 'items'>
                    {% if members is not string %}
                        {% for member in members%}
                            <article class ='member'>
                                <h3>{{member['username']}}</h3>
                                <h3> <span class = 'field'>aka</span> {{member['current_nickname']}}</h3>
                                <h4><span class = 'field'>joined:</span> {{member['joined_on']}}</h4>
                                <h4><span class = 'field'>status:</span> {{member['status']}}</h4>
                                <h4><span class = 'field'>reports sent:</span> {{member['reports_sent']}} ({{member['report_stats'][0]}} with action taken) </h4>
                                <h4><span class = 'field'>reports received:</span> {{member['reports_received']}} ({{member['report_stats'][1]}} with action taken)</h4>
                                <h5><span class = 'field'>nickname history:</span> {{member['nickname_history']}}</h5>
                                <h5><span class = 'field'>notes:</span> {{member['notes']}}</h5>
                                <div class = 'actions'>
                                    <h3><span>actions</span></h3>
                                    <a class= 'alert' href={{'/ban/'+member['ban_kick']}}>ban</a>
                                    <a href={{'/kick/'+member['ban_kick']}}>kick</a>
                                    <a href={{'/toggle/'+member['discord_id']|string}}> {{member['user_agrmt_toggle']}} <b>!flag</b></a>
                                </div>
                            </article>
                        {% endfor %}
                    {% else %}
                    <p>{{members}}</p>
                    {% endif %}
                    </div>
                </section>

        </main>
</body>
</html>